 /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } */

 /* html {
    background-color: red;
 } */



.hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

}
  
.hamburger:focus > .hamburger__container {
    box-shadow: 0 0 2px 2px #51a7e8;
}

.hamburger:focus, 
.hamburger__container:focus {
    outline: none;
}

.hamburger__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 35px;
    height: 30px;
}


/* srodkowa kreska */
.hamburger__bars {
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    transition: transform 220ms ease-in-out;
}


/* gorna i dolna kreska */
.hamburger__bars::before, 
.hamburger__bars::after {
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    background-color: #000;
    content: '';
}


/* pozycja gornaj kreski */
.hamburger__bars::before {
    top: -12px;
    transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
}


/* pozycja dolnej kreski  */

.hamburger__bars::after {
    bottom: -12px;
    transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
}



