 /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } */

 /* html {
    background-color: red;
 } */



.hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;

}
  
.hamburger:focus > .hamburger__container {
    box-shadow: 0 0 2px 2px #51a7e8;
}

.hamburger:focus, 
.hamburger__container:focus {
    outline: none;
}





