/* * { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} */


.hamburger {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        & > .hamburger_contaier {
            box-shadow: 0 0 2px 20px #51a7e8;
        }
    }

    &,
    &__container {
        &:focus {
            outline: none;
        }
    }

    &__container {
        display: flex;
        align-items: center;
        position: relative;
        width: 35px;
        height: 30;
    }

    &__bars {
        
    }
}